* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  font-size: 18px;
}

body {
  background-image: url("./Advanced-analytics-Employee-Attrition-1200-630.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  max-width: 70%;
  margin: 2rem auto;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
}

.login form input {
  width: 100%;
  font-family: "Arimo";
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.425);
  font-size: 1rem;
}

.btn-container {
  text-align: center;
  width: 100%;
  margin-top: 0.75rem;
}

.btn {
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  border: none;
  text-align: center;
  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
